.el-breadcrumb {
  margin-bottom: 20px;
}

.el-table {
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-panel {
  height: 300px !important;
}

.el-steps {
  margin: 15px 0;

}

.el-step__title {
  font-size: 13px;
}
.ql-editor{
  min-height: 300px;
}